language: python
matrix:
  include:
    - name: "Scan code on Xenial Linux"
      python: 3.6
      dist: xenial
      install:
        - sudo apt-get -y install jq
      script: |
        bash .ci/code_security_audit.sh
    - name: "Python 3.7 on Xenial Linux"
      python: 3.7           # this works for Linux but is ignored on macOS or Windows
      dist: xenial          # required for Python >= 3.7
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_check.sh
    - name: "Python 3.6 on Xenial Linux"
      python: 3.6
      dist: xenial
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_check.sh
    - name: "Python 3.5 on Xenial Linux"
      python: 3.5
      dist: xenial
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_check.sh
    - name: "Python 3.7 gm on Xenial Linux"
      python: 3.7           # this works for Linux but is ignored on macOS or Windows
      dist: xenial          # required for Python >= 3.7
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_check_gm.sh
    - name: "Python 3.6 gm on Xenial Linux"
      python: 3.6
      dist: xenial
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_check_gm.sh
    - name: "Python 3.5 gm on Xenial Linux"
      python: 3.5
      dist: xenial
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_check_gm.sh
    - name: "Python 3.7 one_click on Xenial Linux"
      python: 3.7           # this works for Linux but is ignored on macOS or Windows
      dist: xenial          # required for Python >= 3.7
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_one_click.sh
    - name: "Python 3.6 one_click on Xenial Linux"
      python: 3.6
      dist: xenial
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_one_click.sh
    - name: "Python 3.5 one_click on Xenial Linux"
      python: 3.5
      dist: xenial
      install:
        - bash ./scripts/install.sh
      script: |
        bash .ci/ci_one_click.sh
    # - name: "Python 2.7 on Xenial Linux"
    #   python: 2.7
    #   dist: xenial
    #   sudo: required
    #   install:
    #     - pip install configparser --user
    #     - bash .ci/download_bin.sh
    #   script: |
    #     bash .ci/ci_check.sh

addons:
  apt:
    packages:
      - curl
      - openssl
      - git
# install:
#   - bash ./scripts/install.sh
# # command to run tests
# script: |
#   bash .ci/ci_check.sh

after_success:
after_failure:


